{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="companiesApp">
    <head>
        <title>Companies</title>
        <link rel="stylesheet" href="{% static 'companies/css/styles.css' %}">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="{% static 'companies/js/angular-ui-router.min.js' %}"></script>
        <script src="{% static 'companies/js/angular-file-upload.min.js' %}"></script>
        <script src="{% static 'companies/js/app.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="content" ui-view></div>
        </div>
    </body>
</html>
